/* Universal selector */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "sans-serif";
  box-sizing: border-box;
}

/* Root css class for light mode */
:root {
  --primary-color: #e3f9ff;
  --secondary-color: #212121;
  --dark-mode-image: url("Images/day.png");
  --calculator-image: url("Images/business.png");
}

/* Class values for dark theme upon toggle */
.dark-theme {
  --primary-color: #000103;
  --secondary-color: #e3f9ff;
  --dark-mode-image: url("Images/night.png");
}

/* Image url for scientific mode upon calculator mode toggle */
.modeswitcher {
  --calculator-image: url("Images/scientific.png");
}

/* Document background container class */
.container {
  width: 100%;
  height: 100vh;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Calculator container class */
.calculator {
  background: #ffb7ce;
  padding: 20px;
  border-radius: 10px;
  margin-top: 5%;
}

/* Calculator input buttons class */
.calculator form input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(49, 34, 44, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.2);
  background: transparent;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}

/* Calculator display class */
form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

/* Calculator display text settings */
form .display input {
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}

/* Equals-to operator special class */
form input.equal {
  width: 145px;
}

/* Operator button special class */
form input.operator {
  color: #cd5e77;
}

/* Container class for dark mode switch */
.switchcontainer {
  position: absolute;
  top: 10%;
  right: 10%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Container class for mode class */
.modecontainer {
  position: absolute;
  top: 0%;
  right: 36%;
  text-align: center;
}

/* Paragraph styling  */
p {
  font-family: sans-serif;
  color: var(--secondary-color);
  margin-bottom: 5px;
}

/* Switch styling for dark mode switch */
.switch {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 60px;
  margin: 0 10px;
}

/* Switch styling for calculator mode switch */
.modeswitch {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 40px;
  margin: 0 10px;
}

/* Slider class for the dark mode switch */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--dark-mode-image);
  background-color: #ccc;
  background-size: 110px 50px;
  transition: 0.4s;
  border-radius: 34px;
}

/* Slider class for the calculator mode toggle switch */
.modeslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--calculator-image);
  background-color: #ccc;
  background-size: 110px 30px;
  transition: 0.4s;
  border-radius: 34px;
}

/* Calculator slide before class */
.modeslider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 200px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 30px;
}

.modeswitch input {
  display: none;
}

.switch input {
  display: none;
}

/* Dark mode slider before state */
.slider:before {
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50px;
}

/* Calculator mode slider upon checked condition */
input:checked + .modeslider {
  background-color: #ff278c;
}

/* Calculator mode transition upon checked condition */
input:checked + .modeslider:before {
  transform: translateX(190px);
}

/* Dark  mode slider upon checked condition */
input:checked + .slider {
  background-color: #ff278c;
}

/* Dark mode transition upon checked condition */
input:checked + .slider:before {
  transform: translateX(50px);
}

/* Default state hidden styling for the scientific buttons row  */
.scientific {
  display: none;
}
